{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
<!-- cart_tools used for subtotal calculation -->
{% block extra_title %} - Cart{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<div id="fix-height-wrapper" class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="logo-font mb-4">Your Cart</h1>
        <hr class="w-25 mx-auto mb-5">
      </div> 
    </div>

    {% if cart_items %}
    <div class="row">
        <div class="col-lg">
                <div class="table-responsive rounded">
                    <table class="table table-sm">
                        <thead class="blue-black platinum-text text-center">
                            <tr>
                                <th scope="col">Product Info</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% include "cart/product_img.html" %}
                                </td>
                                <td class="py-3">
                                    {% include "cart/product_info.html" %}
                                </td>
                                <td class="py-3">
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td class="py-3 w-25">
                                    {% include "cart/quantity_form.html" %}
                                    <td class="py-3">
                                        <p class="my-0">${{ item.product.price | calc_subtotal:item.quantity}}</p>
                                    </td>
                                </td> 
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="py-3"><h6><strong>Cart Total:</strong></h6>
                            </td>
                            <td class="py-3">${{ total|floatformat:2 }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
        </div>
        <!-- Order Summary -->
        <div class="col-lg">
            <div class="table-responsive rounded">
                <table class="table table-sm">
                    <thead class="blue-black platinum-text h4">
                        <tr>
                            <th scope="col">Order Summary</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tr>
                        <th scope="row" class="py-3"><p class="h6"><strong>Cart Total:</strong></p></th>
                        <td></td>
                        <td class="text-end">${{ total|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="py-3">
                            <p class="h6"><strong>Delivery:</strong></p>
                        </th>
                        <td></td>
                        <td class="text-end">${{ delivery|floatformat:2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="py-3">
                            <p class="h4"><strong>Grand Total:</strong></p>
                        </th>
                        <td></td>
                        <td class="text-end">${{ grand_total|floatformat:2 }}</td>
                    </tr>
                </table>
                {% if free_delivery_delta > 0 %}
                <div class="col">
                    <p class="mb-1 text-danger">
                        Spend <strong>${{ free_delivery_delta }}</strong> more to qualify for free delivery!
                    </p>  
                </div>
                {% endif %}
            </div>
            <hr class="w-100">
            <!-- Apply coupon -->
            <div class="col text-center">
                <p class="fs-5 blue-black-text">Enter Coupon Code</p>
                <form action="{% url 'coupon_apply' %}" method='POST' class="mb-2">
                    {% csrf_token %}
                    <input type="text" name="coupon-code" class="w-50 rounded-3" maxlength="10">
                    <button type='submit' class="btn btn-sm btn-secondary">Apply</button>
                </form>
            {% if not coupon == None %}
                <div class="mb-2">
                    <span>Current code: <span class="">{{ coupon }}</span></span> |
                    <span>Savings: <span class="">${{ savings|floatformat:2 }} - {{ coupon_amount }}%</span> off!</span>
                </div>
            </div>
            {% endif %}
            <hr class="w-100">
            {% include "cart/checkout_btns.html" %}
        </div>
    </div>
    
    {% else %}
    <!-- Display if Cart is Empty -->
    <div class="row my-5">
        <div class="col-sm">
            <div class="card text-center w-50 mx-auto">
                <div class="card-body">
                    <p class="card-title">Your cart is empty!</p>
                    <a href="{% url 'products' %}" class="btn btn-act coral rounded-3 btn-lg">
                    <i class="material-icons">
                        arrow_back_ios_new
                    </i>
                    <span class="text-uppercase">Continue Shopping</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}

<!-- Code obtained from CI Boutique Ado Walkthrough Project -->
<!-- Refresh / Clear Cart Logic -->
<script>
    // Refresh quantity on click
    $('.refresh-link').click(function(e) {
        var form = $(this).prev('.refresh-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}