{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="hero-image" class="container-fluid">
    <div class="row vh-100">
        <div class="col-auto my-auto mx-4">
            <h2 class="slogan display-4 logo-font lh-base my-5 platinum-text">Serving your leather obsession...</h2>
            <a 
              href="{% url 'products' %}" class="btn-yes rounded-3 blue-black platinum-text fw-bold btn btn-lg border-1 border-light text-uppercase fs-5 me-2 call-to-action-btns">Shop Now
            </a>
          {% if not request.user.is_authenticated %}
            <a 
              href="{% url 'account_signup' %}" class="btn-hmm rounded-3 blue-black-text platinum fw-bold btn btn-lg border-3 border-dark text-uppercase fs-5 call-to-action-btns">Register
            </a>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-sm mx-auto text-center scroll-up-down-btn">
              <a
              href="#collections"
              class="btn-yes rounded-circle btn btn-sm platinum-text blue-black border border-light border-3 opacity-75"
              ><i class="fas fa-caret-down fa-3x"></i></a>
          </div>
        </div>
    </div>
</div>

<!-- COLLECTIONS & FEATURE SECTION -->
<section id="collections" class="my-5 container-fluid">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h2 class="blue-black-text">A collection of the very best</h2>
        <hr class="w-25 mx-auto my-5">
        <p class="text-muted mb-5 fs-5">
          A carefully curated selection of the finest leather goods for the discerning shopper.
        </p>
      </div>
    </div>    
    <!-- Collection Cards -->
    <div class="collection-cards">
      <div class="row g-2 mb-2">
          <div class="col-sm">
              <a href="{% url 'products' %}?category=footwear" class="card">
                <img src="{{ MEDIA_URL }}leather_shoe_detail.jpg" class="img-fluid rounded" alt="Watch with leather strap">
                <div class="card-footer border-bottom border-2bg-transparent text-uppercase">
                  <span class="btn">Footwear</span>
                </div>
              </a>
          </div>
          <div class="col-sm">
            <a href="{% url 'products' %}?category=jackets" class="card">
              <img src="{{ MEDIA_URL }}zara_black_jacket.jpg " class="img-fluid rounded" alt="Black leather jacket">
              <div class="card-footer border-bottom border-2 bg-transparent text-uppercase">
                <span class="btn">Jackets</span>
              </div>
            </a>
          </div>
      </div>
      <div class="row g-2">
        <div class="col-sm">
          <a href="{% url 'products' %}?category=bags" class="card">
            <img src="{{ MEDIA_URL }}two_leather_bags.jpg" class="img-fluid rounded" alt="Two leather bags">
            <div class="card-footer border-bottom border-2 bg-transparent text-uppercase">
              <span class="btn">Bags</span>
            </div>
          </a>
        </div>
        
        <div class="col-sm">
          <a href="{% url 'products' %}?category=accessories" class="card">
            <img src="{{ MEDIA_URL }}smartwatch_strap.jpg" class="img-fluid rounded" alt="Watch with leather strap">
            <div class="card-footer border-bottom border-2 bg-transparent text-uppercase">
              <span class="btn">Accessories</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Featured Collections -->
<section id="featured-collections" class="coral py-5">
  <div class="container">
    <div class="card my-5 border-0">
      <div class="row g-0 feature-col">
        <div class="col-md-7 my-auto">
          <a href="{% url 'products' %}">
            <img src="{{ MEDIA_URL }}shirt_shoes.jpg" class="img-fluid rounded-start" alt="Shirt and Shoes">
          </a>
        </div>
        <div class="col-md-5 d-flex flex-row align-items-end platinum-text">
          <div class="card-body">
            <h5 class="card-subtitle">Our Latest Collection</h5>
            <h4 class="card-title text-uppercase mt-3">Autunno</h4>
            <hr class="text-light w-25 pt-1">
            <p class="card-text mt-5 lh-lg">The new collection has finally landed... An Italian Autumn is the seasonal inspiration for this gorgeous collection of warm rusts, earthy ochres and tans, complemented by hints of sky blue and cool jade.</p>
            <a 
            href="{% url 'products' %}" class="btn btn-sml btn-act rounded-3 blue-black platinum-text fw-bold border-1 border-light text-uppercase fs-5 me-2">Shop Now
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm text-end scroll-up-down-btn mt-5">
          <a
          href="#hero-image"
          class="btn-yes rounded-circle btn btn-sm blue-black platinum-text border border-light border-3"
          ><i class="fas fa-caret-up fa-3x"></i>
          </a>
      </div>
    </div>
  </div>
</section>

<!-- REVIEWS CAROUSEL -->
<div id="reviews-carousel" class="container-fluid my-5 text-center">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators my-auto">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
      </button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card border-0">
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"Amazing products and service!"</p>
            </blockquote>
            <div class="blockquote-footer"><h5 class="card-title">Jason Hunter</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border-0">
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"Hide & Chic is my go-to for all things gorgeously leather. High quality products and deliveries, always prompt."</p>
            </blockquote>
            <div class="blockquote-footer"><h5 class="card-title">Elliot Smith</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card border-0">
          <div class="card-body">
            <blockquote class="blockquote">
              <p>"Only the best will do, which is why I buy all my leather products through Hide & Chic."</p>
            </blockquote>
            <div class="blockquote-footer"><h5 class="card-title">Kathleen Taylor</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev d-sm-none d-md-block" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span>
        <i class="fas fa-chevron-left fa-lg blue-black-text"></i>
      </span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next d-sm-none d-md-block" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span> 
        <i class="fas fa-chevron-right fa-lg blue-black-text"></i>
      </span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% endblock %}
