{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="hero-image" class="container-fluid h-100">
        <div class="row h-50 justify-content-start">
            <div class="col-7 col-md-6 platinum-text my-auto">
                <h2 class="slogan display-4 text-center logo-font lh-base">Serving your leather obsession...</h2>
            </div>
        </div>
        <!-- Call To Action Buttons -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end d-lg-flex justify-content-lg-end mt-lg-5 pt-lg-5">
            <a 
                href="{% url 'products' %}" type="button" class="btn-yes rounded-3 blue-black platinum-text fw-bold btn btn-lg border-1 border-light text-uppercase fs-5 btn-block call-to-action-btns">Yes - Take Me There!
            </a>
            <a 
                href="#" type="button" class="btn-hmm rounded-3 platinum fw-bold btn btn-lg border-1 border-dark blue-black-text text-uppercase fs-5 call-to-action-btns">Hmm... Find Out More
            </a>
        </div>
    </div>

    <!-- FEATURE SECTION -->
	<section class="my-5">
        <div class="container">
          <div class="row text-white">
            <div class="col-lg-5">
              <h2 class="blue-black-text">Featured Collections</h2>
            </div>
            <div class="col-lg-7">
              <p class="blue-black-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis, magnam rerum. Similique ratione explicabo odit obcaecati suscipit architecto exercitationem iusto, consequuntur eos magnam. Nobis adipisci magnam vel repellendus sed! Corporis et, dicta laborum a autem minus hic accusantium. Nulla perspiciatis officia facilis dolores numquam rerum temporibus praesentium sequi, sunt omnis.
              </p>
            </div>
          </div>
          
           <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
                <div class="col-md-8">
                    <a href="#" class="card">
                        <img src="/media/smartwatch_strap.jpg" class="img-fluid" alt="Watch with leather strap">
                        <div class="card-footer text-white">
                          <span class="btn">Watches</span>
                        </div>
                      </a>
                </div>
                <div class="col-6 col-md-4">
                    <a href="#" class="card">
                        <img src="/media/leather_satchel.jpg" class="img-fluid" alt="Watch with leather strap">
                        <div class="card-footer text-white">
                          <span class="btn">Footwear</span>
                        </div>
                      </a>
                </div>
            </div>

        </div>
      </section>
{% endblock %}
