<!-- Edit Review Modal -->
<div 
	class="modal fade" 
	id="reviewModal"
	tabindex="-1" 	
	aria-labelledby="reviewModalLabel" 
    aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
        {% if edit %}
        <div class="modal-content border border-danger">
			<div class="modal-header blue-black">
				<h5 
					class="modal-title platinum-text">Please fill in the form to edit your review
				</h5>
				<button 
					type="button" 
					class="btn-close btn-close-white"
					data-bs-dismiss="modal"
					data-bs-target="#reviewModal"
					aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'edit_review' review.id %}#reviews-container" class="form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right mt-3">
                        <button class="btn btn-lg text-uppercase cyan" type="submit">Update Review</button>
                    </div>
                </form>
			</div>
		</div>
        {% else %}
        <!-- Add Review Modal -->
		<div class="modal-content border border-danger">
			<div class="modal-header blue-black">
				<h5 
					class="modal-title platinum-text">Please fill in the form to submit your review
				</h5>
				<button 
					type="button" 
					class="btn-close btn-close-white" 
					data-bs-dismiss="modal"
					data-bs-target="#reviewModal"
					aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<form method="POST" action="{% url 'add_review' product.id %}#reviews-container" class="form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right mt-3">
                        <button class="btn btn-lg text-uppercase cyan" type="submit">Submit Review</button>
                    </div>
                </form>
			</div>
		</div>
        {% endif %}
	</div>
</div>


