{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container" id="fix-height-wrapper">
    <div class="row">
        <div class="col-sm text-center mb-4">
        <h1 class="logo-font p-1">My Wishlist</h1>
        <hr class="w-25 mx-auto mb-4">
        <a 
            class="btn-hmm rounded-3 platinum blue-black-text fw-bold btn btn-sml border-1 border-light text-uppercase fs-5 btn-block call-to-action-btns" href="{% url 'profile' %}">Back to Profile
            </a>
            <a 
            class="btn-yes rounded-3 blue-black platinum-text fw-bold btn btn-sml border-1 border-light text-uppercase fs-5 btn-block call-to-action-btns" href="{% url 'products' %}?category=footwear,jackets,bags,accessories,sale">Continue Shopping
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% for product in wishlist %}
                <div class="row align-items-center">
                    <!-- Product Image -->
                    <div class="col-sm-1 p-2">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="img-fluid rounded" src="{{ product.image.url }}" alt="Image of {{ product.name }}"> 
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="No image available of {{ product.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <!-- Product name  -->
                    <div class="col-sm-8 col d-flex align-items-center">
                        <a href="{% url 'product_detail' product.id %}" class="text-decoration-none blue-black-text">
                            <h4 class="mb-0 fw-bold">
                                <span class="text-capitalize">{{ product.name }}</span> 
                                <span class="small fw-bold rosso-text">${{ product.price }}</span>
                            </h4>
                        </a>
                    </div>
                    <!-- Delete wishlist item -->
                    <div class="col-sm-3 text-center">
                        <a href="{% url 'wishlist_toggle' product.id 0 %}"class="btn btn-sml blue-black btn-yes fw-bold orange-soda-text">
                            <i class="fas fa-trash" 
                            data-bs-toggle="tooltip" 
                            data-bs-placement="right"
                            title="Remove {{ product.name }} from Wishlist"></i>
                            </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}