html {
	height: 100%;
}

body {
	background: linear-gradient(rgba(185, 118, 101, 0.3), rgba(0, 0, 0, 0.6)),
		url("/media/duffel_bag.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: calc(100vh - 164px);
	font-family: "Raleway", sans-serif;
}

/* Palette */
/* Background colors */

.platinum {
	background-color: #e5e5e5;
}

.pure-white {
	background-color: #ffffff;
}

.mindaro {
	background-color: #e3f683;
}

.cream {
	background-color: #fcfac9;
}

.tea-green {
	background-color: #cbdfbd;
}

.granny-smith {
	background-color: #c8f6a7;
}

.salmon {
	background-color: #fb996f;
}

.orange-soda {
	background-color: #f15c37;
}
.coral {
	background-color: #f67b53;
}

.rosso {
	background-color: #d42912;
}

.cyan {
	background-color: #37ccf1;
}

.blue-black {
	background-color: #011014;
}

/* Text Colors */

.platinum-text {
	color: #e5e5e5;
}

.pure-white-text {
	color: #ffffff;
}

.mindaro-text {
	color: #e3f683;
}

.cream-text {
	color: #fcfac9;
}

.tea-green-text {
	color: #cbdfbd;
}

.granny-smith-text {
	color: #c8f6a7;
}

.salmon-text {
	color: #fb996f;
}

.orange-soda-text {
	color: #f15c37;
}
.coral-text {
	color: #f67b53;
}

.rosso-text {
	color: #d42912;
}

.cyan-text {
	color: #37ccf1;
}

.blue-black-text {
	color: #011014;
}
/* --------------------------------------- */

.banner {
	margin: 0;
}

.nav-link {
	color: #e5e5e5 !important;
}

.slogan {
	text-shadow: 2px 2px 6px #011014;
}

/* From Bulma - as shown in CI Boutique Ado walkthrough */
/* Centering Mat Icon in it's div -  seen at https://newbedev.com/mat-icon-does-not-center-in-its-div */
.icon,
.material-icons {
	vertical-align: middle;
	height: 1.7rem;
	width: 1.5rem;
}

.cart-qty-icon {
	font-size: 18px !important;
	height: 1.2rem;
	width: 1.2rem;
}

.logo-font {
	font-family: "Abril Fatface", cursive;
}

/* .btn-black {
	background: black;
	color: white;
}

.btn-outline-black {
	background: white;
	color: black !important;
	border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
	background: black;
	color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
	background: #222;
	color: white;
} */

/* ------------------------------- bootstrap toasts */

.message-container {
	position: fixed;
	top: 72px;
	right: 15px;
	z-index: 99999999999;
}

.custom-toast {
	overflow: visible;
	border: 4px solid #e3f683 !important;
}

.toast-capper {
	height: 2px;
}

/* CART MODAL --------------------------------  */
/* Code appropriated - Bootstrap Theme */
/* https://themes.getbootstrap.com/preview/?theme_id=5824 */

.navbar-cart-product-wrapper {
	overflow-y: auto;
	min-width: 270px;
	max-height: 280px;
}

.navbar-cart-product {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

.navbar-cart-product .navbar-cart-product-image {
	max-width: 100px;
}

.navbar-cart-product .navbar-cart-product-close {
	float: right;
	margin-right: 0.5rem;
	opacity: 0.5;
	color: #343a40;
	font-size: 0.7875rem;
}

.navbar-cart-total {
	display: flex;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0.7rem 1rem;
	border-top: 1px solid #e9ecef;
	border-bottom: 1px solid #e9ecef;
	font-size: 0.7875rem;
	justify-content: space-between;
}
/* -------------------------------- CART MODAL END */

/* Overlay - cover base image */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}

/* -------------------------------- Products Page */

.product-img {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

.product-img-cart {
	width: 50%;
	height: 50%;
	object-fit: cover;
}

/* -------------------------------- Media Queries */
/* Code Snippet - CI Boutique Ado Course Material */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

/* Medium and up */
@media (min-width: 800px) {
	.header-container {
		padding-top: 164px;
	}

	body {
		height: calc(100vh - 164px);
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 790px) {
	.header-container {
		padding-top: 116px;
	}

	body {
		height: calc(100vh - 116px);
	}
	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
	}
}
