/* CORE CLASSES ------------------------------ */

:root {
	--body-font: "Josefin Sans", sans-serif;
	--logo-font: "IM Fell Great Primer SC", serif;
	--color-platinum: #e5e5e5;
	--text-color-platinum: #e5e5e5;
	--color-blue-black: #011014;
	--text-color-blue-black: #011014;
	--text-color-muted: #6c757d;
	--color-cyan: #37ccf1;
	--text-color-cyan: #37ccf1;
	--text-color-granny-smith: #c8f6a7;
	--color-granny-smith: #c8f6a7;
	--color-orange-soda: #f15c37;
	--text-color-orange-soda: #f15c37;
	--color-coral: #f67b53;
	--text-color-coral: #f67b53;
	--color-salmon: #fb996f;
	--text-color-salmon: #fb996f;
	--color-rosso: #d42912;
	--text-color-rosso: #d42912;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	height: calc(100vh - 164px);
	font-family: var(--body-font);
	overflow-x: hidden;
}

#fix-height-wrapper {
	height: 100vh;
}

/* -------------------------------------- */

/* Main logo font */
.logo-font {
	font-family: var(--logo-font);
}

.logo {
	font-weight: 800;
	line-height: 3.5rem;
}

/* Overlay - cover base image */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}

#navbar {
	border-bottom: 1px solid var(--color-orange-soda);
}

/* Custom Dropdown */
#navbarOffcanvasLg .dropdown-menu .dropdown-item {
	color: var(--text-color-blue-black);
	font-weight: 800;
}

/* Adjust Boostrap container-fluid */
.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* PALETTE ------------------------------ */

.platinum {
	background-color: var(--color-platinum);
}
.platinum-text {
	color: var(--text-color-platinum);
}

.blue-black {
	background-color: var(--color-blue-black);
}
.blue-black-text {
	color: var(--text-color-blue-black);
}

.granny-smith-text {
	color: var(--text-color-granny-smith);
}

.granny-smith {
	background-color: var(--color-granny-smith);
}

.salmon {
	background-color: var(--color-salmon);
}
.salmon-text {
	color: var(--text-color-salmon);
}

.orange-soda {
	background-color: var(--color-orange-soda);
}
.orange-soda-text {
	color: var(--text-color-orange-soda);
}

.coral {
	background-color: var(--color-coral);
}
.coral-text {
	color: var(--text-color-coral);
}

.rosso {
	background-color: var(--color-rosso);
}
.rosso-text {
	color: var(--text-color-rosso);
}

.cyan {
	background-color: var(--color-cyan);
}
.cyan-text {
	color: var(--text-color-cyan);
}
/* ---------------------------- PALETTE END*/

/* HOME PAGE ----------------------------  */
#hero-image,
#error-gradient {
	height: 100vh;
	position: relative;
	background-image: url("/media/duffel_bag.jpg"),
		linear-gradient(
			90deg,
			rgba(1, 16, 20, 1) 0%,
			rgba(1, 16, 20, 1) 35%,
			rgba(7, 79, 97, 1) 100%
		);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner {
	margin: 0;
}

.nav-link {
	color: var(--text-color-platinum) !important;
}

.slogan {
	font-family: var(--font-body);
	text-shadow: 2px 2px 6px var(--color-blue-black);
}

/* Scroll down button animation */
/* https://codepen.io/nelledejones/pen/gOOPWrK */

.scroll-up-down-btn a {
	animation: gelatine 1.5s ease infinite;
}
@keyframes gelatine {
	from,
	to {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}

/* Make images in collection cards same height */
.collection-cards img {
	width: 100%;
	height: 30vw;
	object-fit: cover;
}

#reviews-carousel {
	height: 30%;
}

/* Centering Material Icon in div: */
/* https://newbedev.com/mat-icon-does-not-center-in-its-div */
.icon,
.material-icons {
	vertical-align: middle;
	height: 1.7rem;
	width: 1.5rem;
}

/* Nav Icons */
.nav-icons i:hover:not(.heart) {
	color: var(--text-color-cyan) !important;
}

.nav-icons .heart:hover {
	color: var(--text-color-orange-soda) !important;
}

/* Cart Icons */
.cart-qty-icon {
	font-size: 18px !important;
	height: 1.2rem;
	width: 1.2rem;
}

/* Call To Action Btns */
.btn-hmm:hover,
.btn-hmm:active,
.btn-hmm:focus {
	background: var(--color-blue-black);
	color: var(--text-color-cyan);
}

.btn-yes:hover,
.btn-yes:active,
.btn-yes:focus {
	background-color: var(--color-platinum);
	color: var(--color-orange-soda);
}

.btn-act:hover,
.btn-act:active,
.btn-act:focus {
	background-color: var(--color-blue-black);
	color: var(--text-color-orange-soda);
}

.btn-go:hover,
.btn-go:active,
.btn-go:focus {
	background-color: var(--color-blue-black);
	color: var(--text-color-granny-smith);
}

/* Custom Toggler */
.custom-toggler {
	border: 1px solid var(--color-platinum) !important;
	border-radius: 5px;
	/* color: #011014; */
}

/* Change Bootstrap default background color */
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
	background-color: var(--color-coral);
	color: #ffffff !important;
}

/* Footer */
#footer-container {
	background-color: var(--color-blue-black);
	border-top: 1px solid #f15c37;
}

/* Links */
footer ul li .nav-link:hover,
footer ul li .nav-link:focus,
footer ul li .nav-link:active {
	color: var(--text-color-coral) !important;
}

footer .socials ul li a:hover,
footer .socials ul li a:focus,
footer .socials ul li a:active {
	color: var(--text-color-cyan) !important;
}
/* -------------------------- HOME PAGE END */

/* PRODUCTS PAGE -------------------------------- */
.return-product-link:focus,
.return-product-link:active,
.return-product-link:hover {
	color: var(--text-color-cyan) !important;
}

.product-img {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

.product-img-cart {
	width: 50%;
	height: 50%;
	object-fit: cover;
}

/* ------------------------------- PRODUCTS PAGE END*/

/* TOASTS ------------------------------- */

.message-container {
	position: fixed;
	top: 72px;
	right: 20px;
	z-index: 99999999999;
}

.custom-toast {
	overflow: visible !important;
	border: 4px solid var(--color-salmon) !important;
}

.cart-notification-wrapper {
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}
/*  ---------------------------- TOASTS END */

/* ALLAUTH FORM FORMATTING ------------------- */

.allauth-form-inner-content p {
	margin-top: 1.5rem; /* mt-4 */
	color: var(--text-color-muted); /* text-muted */
	text-transform: uppercase;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
	display: none;
}

.allauth-form-inner-content input {
	margin: 1rem 0;
}

.allauth-form-inner-content #div_id_remember > label {
	margin: 1rem 0;
}

.allauth-form-inner-content input::placeholder {
	color: var(--text-color-muted);
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
	/* btn */
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* standard bootstrap btn transitions */
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content a:hover {
	color: var(--text-color-rosso); /* text-info */
}

/* ------------------- ALLAUTH FORM FORMATTING */

/* ------------------- PRODUCT FORM FORMATTING */
/* Code Institute - Boutique Ado */
.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
	border-color: var(--color-coral);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: var(--color-coral);
	border-color: var(--color-coral);
}

/* PRODUCT FORM FORMATTING ------------------- */

/* MEDIA QUERIES -------------------------------  */
/* Code Snippet - CI Boutique Ado Course Material */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

/* Medium and up */
@media (min-width: 600px) {
	.header-container {
		padding-top: 164px;
	}

	body {
		height: calc(100vh - 164px);
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#hero-image {
		background-attachment: scroll;
	}

	.header-container {
		padding-top: 116px;
	}

	body {
		height: calc(100vh - 116px);
	}

	.call-to-action-btns {
		width: 50%;
		height: auto;
		font-size: 1rem !important;
		margin: 5px;
	}

	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
	}

	.slogan {
		font-size: 1.8rem;
		margin-left: 5px;
	}

	/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
	.message-container {
		position: fixed;
		top: 35%;
		left: 35%;
		margin-top: -35px;
		margin-left: -100px;
		z-index: 99999999999;
	}
}
