/* CORE CLASSES ------------------------------ */

html {
	height: 100%;
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(rgba(185, 118, 101, 0.3), rgba(0, 0, 0, 0.6)),
		url("/media/duffel_bag.jpg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: calc(100vh - 164px);
	font-family: "Josefin Sans", sans-serif;
}

/* Main logo font */
.logo-font {
	font-family: "IM Fell Great Primer SC", serif;
}

.logo {
	font-weight: 800;
	line-height: 3.5rem;
}

/* Overlay - cover base image */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}
/* Custom Dropdown */
#navbarOffcanvasLg .dropdown-menu .dropdown-item {
	color: #011014;
	font-weight: 800;
}

/* PALETTE ------------------------------ */
/* Background colors */

.platinum {
	background-color: #e5e5e5;
}

.mindaro {
	background-color: #e3f683;
}

.cream {
	background-color: #fcfac9;
}

.tea-green {
	background-color: #cbdfbd;
}

.granny-smith {
	background-color: #c8f6a7;
}

.salmon {
	background-color: #fb996f;
}

.orange-soda {
	background-color: #f15c37;
}
.coral {
	background-color: #f67b53;
}

.rosso {
	background-color: #d42912;
}

.cyan {
	background-color: #37ccf1;
}

.blue-black {
	background-color: #011014;
}

/* Text Colors */

.platinum-text {
	color: #e5e5e5;
}

.mindaro-text {
	color: #e3f683;
}

.cream-text {
	color: #fcfac9;
}

.tea-green-text {
	color: #cbdfbd;
}

.granny-smith-text {
	color: #c8f6a7;
}

.salmon-text {
	color: #fb996f;
}

.orange-soda-text {
	color: #f15c37;
}
.coral-text {
	color: #f67b53;
}

.rosso-text {
	color: #d42912;
}

.cyan-text {
	color: #37ccf1;
}

.blue-black-text {
	color: #011014;
}
/* ---------------------------- PALETTE END*/

/* HOME PAGE ----------------------------  */

.banner {
	margin: 0;
}

.nav-link {
	color: #e5e5e5 !important;
}

.slogan {
	font-family: "Josefin Sans", sans-serif;
	text-shadow: 2px 2px 6px #011014;
}

/* .heart-tooltip {
	background-color: #e5e5e5 !important;
	color: #011014 !important;
} */

/* Centering Mat Icon in div: */
/* https://newbedev.com/mat-icon-does-not-center-in-its-div */
.icon,
.material-icons {
	vertical-align: middle;
	height: 1.7rem;
	width: 1.5rem;
}

/* Nav Icons */
.nav-icons i:hover:not(.heart) {
	color: #37ccf1 !important;
}

.nav-icons .heart:hover {
	color: #f15c37 !important;
}

/* Cart Icons */
.cart-qty-icon {
	font-size: 18px !important;
	height: 1.2rem;
	width: 1.2rem;
}

/* Call To Action Btns */
.btn-hmm:hover,
.btn-hmm:active,
.btn-hmm:focus {
	background: rgb(1, 16, 20, 0.5);
	color: #37ccf1;
}

.btn-yes:hover,
.btn-yes:active,
.btn-yes:focus {
	background-color: #e5e5e5;
	color: #f15c37;
}

/* Custom Toggler */
.custom-toggler {
	border: 1px solid #e5e5e5 !important;
	border-radius: 5px;
	/* color: #011014; */
}

/* Change Bootstrap default background color */
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:focus {
	background-color: #f67b53;
	color: #ffffff !important;
}

/* -------------------------- HOME PAGE END */

/* PRODUCTS PAGE -------------------------------- */

.return-product-link:focus,
.return-product-link:active,
.return-product-link:hover {
	color: #37ccf1 !important;
}

.product-img {
	width: 100%;
	height: 20vw;
	object-fit: cover;
}

.product-img-cart {
	width: 50%;
	height: 50%;
	object-fit: cover;
}

/* ------------------------------- PRODUCTS PAGE END*/

/* TOASTS ------------------------------- */

.message-container {
	position: fixed;
	top: 72px;
	right: 15px;
	z-index: 99999999999;
}

.custom-toast {
	overflow: visible;
	border: 4px solid #fb996f !important;
}

.cart-notification-wrapper {
	height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}
/*  ---------------------------- TOASTS END */

/* ------------------- ALLAUTH FORM FORMATTING */

.allauth-form-inner-content p {
	margin-top: 1.5rem; /* mt-4 */
	color: #6c757d; /* text-muted */
	text-transform: uppercase;
}

.allauth-form-inner-content label:not([for="id_remember"]) {
	display: none;
}

.allauth-form-inner-content input {
	margin: 1rem 0;
}

.allauth-form-inner-content #div_id_remember > label {
	margin: 1rem 0;
}

.allauth-form-inner-content input::placeholder {
	color: #6c757d;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type="submit"] {
	/* btn */
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	/* standard bootstrap btn transitions */
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.allauth-form-inner-content a:hover {
	color: #d42912; /* text-info */
}

/* MEDIA QUERIES -------------------------------  */
/* Code Snippet - CI Boutique Ado Course Material */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
	.container {
		max-width: 80%;
	}
}

/* Medium and up */
@media (min-width: 600px) {
	.header-container {
		padding-top: 164px;
	}

	body {
		height: calc(100vh - 164px);
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.header-container {
		padding-top: 116px;
	}

	body {
		height: calc(100vh - 116px);
	}

	.call-to-action-btns {
		width: 80%;
		height: auto;
		font-size: 1rem !important;
	}

	.card-img-top {
		width: 100%;
		height: 50vw;
		object-fit: cover;
	}
}
