{% load static %}
{% load cart_tools %}


<!-- MODALS -->
<!-- Search Modal -->
<div 
	class="modal fade" 
	id="searchModal"
	tabindex="-1" 	
	aria-labelledby="searchModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border border-warning">
			<div class="modal-header blue-black">
				<h5 
					class="modal-title platinum-text text-uppercase">Search
				</h5>
				<button 
					type="button" 
					class="btn-close" 
					data-bs-dismiss="modal"
					data-bs-target="#searchModal"
					aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				<!-- Form action will submit to all products view -->
				<form method="GET" action="{% url 'products' %}">
					<div class="input-group w-100">
						<input class="form-control border border-black rounded-3" type="text" name="q" placeholder="Search for a product...">
						<div class="input-group-append">
							<button class="form-control btn-yes blue-black platinum-text rounded-3 ms-2" type="submit">
								<span class="icon">
									<i class="fas fa-search"></i>
								</span>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Cart Modal -->
<div 
	class="modal fade"
	id="cartModal"
	tabindex="-1" 
	aria-labelledby="cartModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content border border-warning">
			<div class="modal-header blue-black">
				<h5 
					class="modal-title logo-font platinum-text text-uppercase">Your Cart
				</h5>
				<button 
					type="button" 
					class="btn-close" 
					data-bs-dismiss="modal"
					data-bs-target="#cartModal"
					aria-label="Close">
				</button>
			</div>
			<div class="modal-body">
				{% if cart_items %}
					<p class="pt-2 fw-bold">You have <strong class="orange-soda-text">{{ product_count }}</strong> items in your cart</p>
				{% else %}
					<p class="pt-2">Your cart is empty!</p>
				{% endif %}

					<div class="table-responsive rounded">
						<table class="table table-sm">
							{% for item in cart_items %}
							<tr>
								<td class="align-middle w-25">
								{% if item.product.image %}
									<img class="rounded product-img-cart" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
								{% else %}
									<img class="rounded product-img-cart" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
								{% endif %}
								</td>
								<td class="py-3">
									<p class="my-0">x {{ item.quantity }}</p>
									<p class="my-0"><strong>{{ item.product.name }}</strong></p>
									<p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
								</td>
								<td class="py-3">
								{% if item.product.on_sale %}
									<p class="my-0 rosso-text">${{ item.product.sale_price }}</p>
								{% else %}
									<p class="my-0">${{ item.product.price }}</p>
								{% endif %}
								</td>
								<td class="py-3">
									{% if item.product.on_sale %}
                                        <p class="my-0 text-end">${{ item.product.sale_price | calc_subtotal:item.quantity }}</p>
                                    {% else %}
										<p class="my-0 text-end">${{ item.product.price | calc_subtotal:item.quantity}}</p>
                                    {% endif %}
								</td>
							</tr>
							{% endfor %}
							<tr>
								<td colspan="3" class="py-2"><p><strong>Cart Subtotal:</strong></p>
								</td>
								<td class="py-2 text-end">${{ total |floatformat:2 }}</td>
							</tr>
						</table>
					</div>
			</div>
			<div class="modal-footer border-0">
				{% if cart_items %}
					<a href="{% url 'view_cart' %}">
						<div class="text-uppercase btn coral rounded-3 btn-sml btn-act">View Cart</div>
					</a>
				{% endif %}
				<a href="{% url 'products' %}">
					<div class="text-uppercase btn cyan rounded-3 btn-sml btn-hmm">Continue Shopping</div>
				</a>
			</div>
		</div>
	</div>
</div>

