<!-- MODALS -->
		<!-- Search Modal -->
		<div 
			class="modal fade" 
			id="searchModal" 
			tabindex="-1" 	
			aria-labelledby="searchModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 
							class="modal-title" 		id="searchModalLabel">Search
						</h5>
						<button 
							type="button" 
							class="btn-close" 
							data-bs-dismiss="modal"
							data-bs-target="#searchModal"
							aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						<!-- Form action will submit to all products view -->
						<form method="GET" action="{% url 'products' %}">
							<div class="input-group w-100">
								<input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
								<div class="input-group-append">
									<button class="form-control btn btn-black border border-black rounded-0" type="submit">
										<span class="icon">
											<i class="fas fa-search"></i>
										</span>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- Cart Modal -->
		<div 
			class="modal fade" 
			id="cartModal" 
			tabindex="-1" 	
			aria-labelledby="cartModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 
							class="modal-title" 		id="searchModalLabel">Cart
						</h5>
						<button 
							type="button" 
							class="btn-close" 
							data-bs-dismiss="modal"
							data-bs-target="#cartModal"
							aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						 <!-- Code appropriated - Bootstrap Theme -->
							<div class="navbar-cart-product-wrapper">
							  <!-- Cart Item-->
							  <div class="navbar-cart-product"> 
								<div class="d-flex align-items-center">
									<a href="">
										<img class="img-fluid navbar-cart-product-image" src="/media/bag_on_rock.jpg" alt="">
									</a>
								  	<div class="w-100">
										<a class="navbar-cart-product-close" href="#"><i class="fas fa-times"></i>
										</a>
									<div class="ps-3">
										<a class="navbar-cart-product-link" href="">Leather Bag</a><small class="d-block text-muted">Quantity: 1 </small><strong class="d-block text-sm">$75.00</strong>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<!-- Total Price -->
							<div class="navbar-cart-total"><span class="text-uppercase text-muted">Total</span><strong class="text-uppercase">$75.00</strong></div>
							<!-- Buttons-->
							<div class="d-flex justify-content-between">
								<a class="btn btn-outline-dark me-3" href="">View Cart<i class="fas fa-arrow-right"></i>
								</a><a class="btn btn-outline-dark" href="">Checkout</a>
							</div>
					</div>
				</div>
			</div>
		</div>
