{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 offset-lg-8">
            <h1 class="logo-font p-1">{% trans "Set Password" %}</h1>
            <hr class="w-25 mb-4">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
