{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% block meta %}
			<meta charset="UTF-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% endblock %}

		{% block extra_meta %}
		{% endblock %}

		{% block corecss %}
			<!-- Bootstrap CSS -->
			<link
				href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
				rel="stylesheet"
				integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
				crossorigin="anonymous"
			/>
			<link 
				rel="preconnect" 
				href="https://fonts.googleapis.com">
			<link 
				rel="preconnect" 
				href="https://fonts.gstatic.com" 
				crossorigin>
			<link 
				href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@300;400&display=swap" 
				rel="stylesheet">
			<link 
				href="https://fonts.googleapis.com/icon?family=Material+Icons"
				rel="stylesheet">
			<!-- Base CSS -->
			<link rel="stylesheet" href="{% static 'css/base.css' %}">
		{% endblock %}

		{% block extra_css %}
		{% endblock %}

		{% block corejs %}
			<script
				src="https://kit.fontawesome.com/23c2ad1397.js" 		crossorigin="anonymous">
			</script>
			<script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
			<!-- JavaScript Bundle with Popper -->
			<script 
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/	bootstrap.bundle.min.js" 
				integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
			</script>
		{% endblock %}

		{% block extra_js %}
		{% endblock %}

		<title>Hide & Chic {% block extra_title %}{% endblock %}</title>
	</head>
	<body>
		
		<!-- SALE / FREE DELIVERY BANNER -->
		<div class="row text-center">
			<div class="col-6 cyan py-1">
				<span class="text-uppercase text-black fw-bold">Free delivery on orders over ${{ free_delivery_threshold }}</span>
			</div>
			<div class="col-6 orange-soda py-1">
				<span class="text-uppercase platinum-text fw-bold">20% off during Summer Sale! Enter 'SUM20' at Checkout</span>
			</div>
		</div>

		<!-- MODALS -->
		{% include 'includes/nav_modals.html' %}

		<!-- NAVBAR -->
		<!-- Bootstrap Offcanvas Navbar -->
		<nav id="navbar" class="navbar navbar-expand-lg blue-black fixed-top">
			<div class="container-fluid">
				<!-- Left Aligned Mobile Brand -->
				<a class="navbar-brand logo-font fs-2 text ps-4 text-white" href="{% url 'home' %}">
					Hide & Chic
				</a>
	  
				<!-- Offcanvas Mobile Toggler -->
				<button 
						class="navbar-toggler pe-auto"
						type="button" 
						data-bs-toggle="offcanvas" 
						data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="blue-black-text platinum fas fa-bars fa-lg custom-toggler p-2"></span>
				</button>
				<!-- Offcanvas Mobile SideNav -->
				<div 
					class="offcanvas offcanvas-end" 
					tabindex="-1" 
					id="navbarOffcanvasLg" 
					aria-labelledby="navbarOffcanvasLgLabel">

					<!-- Offcanvas Sidenav Content -->
					<div class="offcanvas-header">
						<h5 
							class="offcanvas-title logo-font blue-black-text"
							id="offcanvasNavbarLabel">Hide & Chic
						</h5>
						<button 
							type="button" 
							class="btn-close text-reset" data-bs-dismiss="offcanvas" 
							aria-label="Close">
						</button>
					</div>
					<div class="offcanvas-body blue-black">
						<!-- Nav -->
						<ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
							<li class="nav-item blue-black-text">
								<a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
							</li>
							<!-- Shop All Dropdown -->
							<li class="nav-item dropdown">
				
								<!-- Shop All Toggle -->
								<a class="nav-link dropdown-toggle blue-black" 
									href="{% url 'products' %}" role="button" 
									id="dropdownMenuLink" 
									data-bs-toggle="dropdown" aria-expanded="false">Shop All
								</a>
				
								<!-- Shop All Menu -->
								<ul class="dropdown-menu" 			aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="{% url 'products' %}?category=footwear">Footwear</a></li>
									<li><a class="dropdown-item" href="{% url 'products' %}?category=jackets">Jackets</a></li>
									<li><a class="dropdown-item" href="{% url 'products' %}?category=bags">Bags</a></li>
									<li><a class="dropdown-item" href="{% url 'products' %}?category=accessories">Accessories</a></li>
									<li><a class="dropdown-item" href="{% url 'products' %}?category=sale">Sale</a></li>
									<li><a class="dropdown-item" href="{% url 'products' %}?category=footwear,jackets,bags,accessories,sale">All Products</a></li>
								</ul>
							</li>
							<!-- Leather Care Dropdown -->
							<li class="nav-item dropdown">
				
								<!-- Leather Care Toggle -->
								<a class="nav-link dropdown-toggle" 
									href="#" role="button" 
									id="dropdownMenuLink" 
									data-bs-toggle="dropdown" aria-expanded="false">Leather Care
								</a>
				
								<!-- Leather Care Menu -->
								<ul class="dropdown-menu" 			aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="#">Prodcuts</a></li>
									<li><a class="dropdown-item" href="#">FAQ</a></li>
								</ul>
							</li>
						</ul>

						<!-- Nav 2 -->
						<ul class="navbar-nav nav-divided blue-black">
							<!-- Product Management -->	
                			{% if request.user.is_superuser %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" 
									href="#" role="button" 
									id="dropdownMenuLink" 
									data-bs-toggle="dropdown" aria-expanded="false">Product Management
								</a>
								<!-- Product Management Menu -->
								<ul class="dropdown-menu" 			aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="#">Add New</a></li>
									<li><a class="dropdown-item" href="#">Edit or Delete</a></li>
								</ul>
							</li>
							{% endif %}
							<!-- Currency Toggle -->
							<li class="nav-item dropdown">
								
								<a class="nav-link dropdown-toggle" 
									href="#" role="button" 
									id="dropdownMenuLink" 
									data-bs-toggle="dropdown" aria-expanded="false">AUD
								</a>
								<!-- Leather Care Menu -->
								<ul class="dropdown-menu" 			aria-labelledby="dropdownMenuLink">
									<li><a class="dropdown-item" href="#">AUD</a></li>
									<li><a class="dropdown-item" href="#">GBP</a></li>
								</ul>
							</li>
						</ul>
						<!-- Nav With Icons -->
						<ul class="navbar-nav flex-row">
							<!-- Search with Modal Trigger -->
							<li class="nav-item pe-auto">
							<a 
								href="#"
								class="nav-link"
								data-bs-toggle="modal" data-bs-target="#searchModal">
								<i class="fas fa-search"></i>
							</a>
							</li>
							<!-- User -->
							<li class="nav-item ml-lg-n4">
							<a class="nav-link" href="">
								<i class="fas fa-user-circle"></i>
							</a>
							</li>
							<!-- Heart -->
							<li class="nav-item ml-lg-n4">
							<a class="nav-link" href="">
								<i class="fas fa-heart"></i>
							</a>
							</li>
							<!-- Cart with Modal Trigger -->
							<li class="nav-item ml-lg-n4 pe-auto">
							<a	href="#"
								class="nav-link" 
								data-bs-toggle="modal"
								data-bs-target="#cartModal">
								<span>
								<i class="fas fa-shopping-cart"></i>
								</span>
								<span>
									{% if cart_items %}
										{{ product_count }}
									{% endif %}
								</span>
							</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>

		{% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/error_toast.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/warning_toast.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/success_toast.html' %}
                    {% else %}
                        {% include 'includes/toasts/info_toast.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

		{% block page_header %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block postloadjs %}
		{{ block.super }}
		<!-- Code Snippet for bootstrap banner above fixed-top nav - 
			https://stackoverflow.com/questions/44526926/show-bootstrap-banner-at-the-top-before-navbar/44530320 -->
			<script type="text/javascript">
				$(window).scroll(function(){
					if ($(window).scrollTop() == 0) {
					 $(".navbar").removeClass("fixed-top");
				  } else {
					 $(".navbar").addClass("fixed-top");
				  }
				 });
			</script>
			<!-- Toasts -->
			<script type="text/javascript">
				$(document).ready(function(){
					$('.toast').toast('show');
				});
			</script>
		{% endblock %}
	</body>
</html>
