{% extends "base.html" %}
{% load static %}
{% block extra_title %} - Add Product{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-lg-5">
            <div class="col text-center">
                <h1 class="logo-font mb-4">Product Management</h1>
                <h5 class="text-muted">Add a Product</h5>
                <hr class="w-25 mx-auto mb-lg-5">
            </div> 
        </div>

        <div class="row">
            <div class="col-sm-6 mx-auto">
                <form 
                    method="POST" 
                    action="{% url 'add_product' %}" 
                    class="form mb-5 pb-5" 
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right mt-4 mb-5">
                        <a class="btn cyan rounded-3 btn-lg" 
                        href="{% url 'products' %}">Cancel</a>
                        <button class="btn coral rounded-3 btn-lg" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}
