{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include 'products/includes/product_review.html' %}
{% include 'products/includes/confirm_product_delete.html' %}

<div class="overlay"></div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <!-- Product Image -->
        <div class="col-sm-4 align-self-center">
            <div class="image-container p-4 position-relative">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="img-fluid h-25 rounded-3" src="{{ product.image.url }}" alt="{{ item.product.name }}">
                    </a>
                    {% else %}
                    <a href="" class="text-decoration-none">
                        <img class="img-fluid h-25 rounded-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    </a>
                {% endif %}
                <!-- Admin edit/delete actions -->
                {% if request.user.is_superuser %}
                <div class="position-absolute top-0 start-0 p-5">
                    <a class="btn btn-sm cyan blue-black-text link-light shadow" href="{% url 'edit_product' product.id %}">Edit</a>
                    <a 
                        class="btn btn-sm orange-soda platinum-text link-dark text-decoration-none shadow" 
                        data-bs-toggle="modal"
                        data-bs-target="#productDeleteModal">Delete
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-sm-6 align-self-center">
            <div>
                <div>
                    <p class="lead mb-1 text-uppercase fw-bolder">{{ product.name }}
                    <!-- Add to wishlist -->
                    {% if request.user.is_authenticated %}
                        <small>
                        <a id="wishlist" class="rosso-text nav-icons heart" href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Add to Wishlist">
                        <i class="fas fa-heart fa-lg heart me-lg-0 me-3"></i>
                        </a>
                        </small>
                    {% endif %}
                    </p>

                    {% if product.on_sale %}
                        <p class="lead mb-0 fw-bold text-decoration-line-through">${{ product.price }}</p>
                        <p class="lead mb-0 fw-bold rosso-text">${{ product.sale_price }}</p>  
                    {% else %}
                        <p class="lead mb-0 fw-bold">${{ product.price }}</p>
                    {% endif %}

                    {% if product.category %}
                    <a 
                        class="text-uppercase text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                        <p class="small mt-3 text-muted">  
                        {{ product.category.friendly_name }}   
                        </p>
                    </a>
                    {% endif %}

                    <hr class="w-25">

                    {% if product.rating %}
                        <small class="blue-black-text"><i class="material-icons m-0 cyan-text">star_rate</i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="blue-black-text">No Rating</small>
                    {% endif %}

                    {% if product.reviews.all %}
                        <p class="fw-bold ms-1 my-1">
                            <a class="coral-text text-decoration-none" href="#reviews-container">{{ product.reviews.all | length }} review{{ product.reviews.all | length | pluralize }}</a>
                        </p>
                    {% else %}
                        <p class="blue-black-text fw-bold ms-1 my-1">No reviews at this stage</p>
                    {% endif %}

                    <hr class="w-25">

                    <p class="mt-3"><strong class="fw-bold">Colour:</strong> {{ product.color }}</p>
                    <p class="mt-3 blue-black-text w-75">{{ product.description }}</p>
                </div>
                <!-- Add to Cart Form -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="">
                        {% with product.has_sizes as s %}
                        {% if s %}
                            <div class="">
                                <p><strong class="fw-bold">Size:</strong></p>
                                <select class="form-select w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="">
                            <p class="mt-3"><strong class="fw-bold">Quantity:</strong></p>
                            <div class="w-50 d-flex justify-content-center">
                                <!-- Increment / Decrement Product Quantity -->
                                <div class="input-group input-group-qty">
                                    <button 
                                        class="input-group-text decrement-qty"
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <i class="material-icons">remove</i>
                                    </button>
                                    <input 
                                        class="form-control qty_input"   type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <button 
                                        class="input-group-text increment-qty"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}"> 
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add to Cart / Continue Shopping Buttons -->
                    <div class="vstack gap-4 mt-5 w-50">
                        <button
                            type="hidden" name="redirect_url" value="{{ request.path }}"                            
                            class="btn btn-lg text-uppercase coral"
                            value="submit">Add to Cart
                            <i class="align-middle material-icons">
                                add_shopping_cart
                            </i>
                        </button>
                        <a
                            href="{% url 'products' %}" 
                            class="btn btn-lg text-uppercase granny-smith">Continue Shopping
                            <i class="icon material-icons">
                            store
                            </i>
                        </a>
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 align-self-center d-grid gap-5">
        <!-- Review Modal Trigger -->
        {% if request.user.is_authenticated %}
            <button class="btn btn-sml rounded-pill blue-black">
                <p class="platinum-text my-auto">Submit a review?<br>
                    <a class="platinum-text text-uppercase text-decoration-none fw-bold"
                    href="#"
                    data-bs-toggle="modal" 
                    data-bs-target="#reviewModal">      
                    Click here!</a>
                </p>
            </button>
            {% else %}
            <button class="btn btn-sml rounded-pill blue-black">
                <p class="platinum-text my-auto">To leave a review please <a class="text-decoration-none salmon-text text-uppercase" href="{% url 'account_signup' %}">Register</a> or <a class="text-decoration-none cyan-text text-uppercase" href="{% url 'account_login' %}">Login</a></p>
            </button>
        {% endif %}
        </div>
    </div>

    <!-- Product Reviews -->
    <div class="row pb-5 mb-5" id="reviews-container">
        {% for review in product.reviews.all %}
        <div class="col-sm-12 text-center mt-2">
            <h3 class="logo-font mb-4">Reviews</h3>    
            <hr class="w-25 mx-auto mb-lg-5">
        </div>
        
        <div class="col-sm-6 offset-3 mb-5">
            <!-- Review card -->
            <div class="card border-0 shadow rounded mb-5">
                <div class="card-header blue-black platinum-text d-flex flex-row">
                    <div class="me-auto">
                    <small class="h5 align-middle">
                        {{ product.name }} |
                    </small>
                    {% if product.rating %}
                        <small class="platinum-text">
                            <i class="material-icons m-0 cyan-text">star_rate</i>
                            {{ product.rating }} / 5
                        </small>
                    {% endif %}
                    </div>

                    <!-- Edit Review Action -->
                    <div>
                    {% if review.user == request.user or request.user.is_superuser %}
                    <a 
                        href="{% url 'edit_review' review.id %}#reviews-container"
                        data-bs-toggle="modal" 
                        data-bs-target="#reviewModal"
                        aria-label="Review edit for {{ review.user }}" class="btn btn-sm btn-light">Edit
                    </a>
                    {% endif %}

                    <!-- Delete Review Modal Trigger --> 
                    <!-- Visible only admin -->
                    {% if request.user.is_superuser %}
                    <a  
                        data-bs-toggle="modal"
                        data-bs-target="#reviewDeleteModal"
                        aria-label="Delete review for {{ review.user }}"
                        class="btn btn-sm btn-danger">Delete
                    </a>
                    {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Review Title</h5>
                    <p class="card-text blue-black-text mt-4 lh-lg">
                        "{{ review }}"</p>
                </div>
                <div class="card-footer blockquote-footer fs-6 bg-transparent border-top-0 pb-0">
                <small class="fst-italic">{{ review.user.username }}</small> 
                   <p>{{ review.created|date:"SHORT_DATE_FORMAT"}}</p>
                </div>
            </div>
        </div>
        <!-- Delete Review Modal -->
        <div 
        class="modal fade" 
        id="reviewDeleteModal"
        tabindex="-1"
        aria-labelledby="reviewDeleteModal" 
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border border-danger">
                <div class="modal-header blue-black platinum-text text-uppercase">
                    <h5 
                        class="modal-title">Just to clarify...
                    </h5>
                    <button 
                        type="button" 
                        class="btn-close btn-close-white"
                        data-bs-target="#reviewDeleteModal"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ review.user }}'s review on {{ product.name }}?
                </div>
                <div class="modal-footer blue-black">
                    <button 
                        type="button" 
                        class="btn btn-light text-decoration-none"
                        data-bs-dismiss="modal">Cancel
                    </button>
                    <a 
                        class="btn btn-danger text-decoration-none" 
                        href="{% url 'delete_review' review.id %}">Delete
                    </a>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
{% endblock %}
