{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% include 'products/includes/product_review.html' %}

<div class="overlay"></div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <!-- Product Image -->
        <div class="col-sm-4 align-self-center">
            <div class="image-container p-4">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img class="img-fluid h-25 rounded-3" src="{{ product.image.url }}" alt="{{ item.product.name }}">
                    </a>
                    {% else %}
                    <a href="" class="text-decoration-none">
                        <img class="img-fluid h-25 rounded-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-sm-6 align-self-center">
            <div>
                <div>

                    <p class="lead mb-1 text-uppercase fw-bolder">{{ product.name }}</p>

                    {% if product.on_sale %}
                        <p class="lead mb-0 fw-bold text-decoration-line-through">${{ product.price }}</p>
                        <p class="lead mb-0 fw-bold rosso-text">${{ product.sale_price }}</p>  
                    {% else %}
                        <p class="lead mb-0 fw-bold">${{ product.price }}</p>
                    {% endif %}

                    {% if product.category %}
                    <a 
                        class="text-uppercase text-decoration-none" href="{% url 'products' %}?category={{ product.category.name }}">
                        <p class="small mt-3 text-muted">  
                        {{ product.category.friendly_name }}   
                        </p>
                    </a>
                    {% endif %}

                    <hr class="w-25">

                    {% if product.rating %}
                        <small class="blue-black-text"><i class="material-icons m-0 cyan-text">star_rate</i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="blue-black-text">No Rating</small>
                    {% endif %}

                    {% if product.reviews.all %}
                        <p class="fw-bold ms-1 my-1">
                            <a class="coral-text text-decoration-none" href="#reviews-container">{{ product.reviews.all | length }} review{{ product.reviews.all | length | pluralize }}</a>
                        </p>
                    {% else %}
                        <p class="blue-black-text fw-bold ms-1 my-1">No reviews at this stage</p>
                        <p class="fw-bold">
                            <a 
                                class="coral-text text-decoration-none ms-1" 
                                href="#"
                                data-bs-toggle="modal" 
                                data-bs-target="#reviewModal">Submit a review?
                            </a>
                        </p>
                    {% endif %}

                    <hr class="w-25">

                    <p class="mt-3"><strong class="fw-bold">Colour:</strong> {{ product.color }}</p>
                    <p class="mt-3 blue-black-text w-75">{{ product.description }}</p>
                </div>
                <!-- Add to Cart Form -->
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="">
                        {% with product.has_sizes as s %}
                        {% if s %}
                            <div class="">
                                <p><strong class="fw-bold">Size:</strong></p>
                                <select class="form-select w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="">
                            <p class="mt-3"><strong class="fw-bold">Quantity:</strong></p>
                            <div class="w-50 d-flex justify-content-center">
                                <!-- Increment / Decrement Product Quantity -->
                                <div class="input-group input-group-qty">
                                    <button 
                                        class="input-group-text decrement-qty"
                                        data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <i class="material-icons">remove</i>
                                    </button>
                                    <input 
                                        class="form-control qty_input"   type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <button 
                                        class="input-group-text increment-qty"
                                        data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}"> 
                                        <i class="material-icons">add</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add to Cart / Continue Shopping Buttons -->
                    <div class="vstack gap-4 mt-5 w-50">
                        <button
                            type="hidden" name="redirect_url" value="{{ request.path }}"                            
                            class="btn btn-lg text-uppercase coral"
                            value="submit">Add to Cart
                            <i class="align-middle material-icons">
                                add_shopping_cart
                            </i>
                        </button>
                        <a
                            href="{% url 'products' %}" 
                            class="btn btn-lg text-uppercase granny-smith">Continue Shopping
                            <i class="icon material-icons">
                            store
                            </i>
                        </a>
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2 align-self-center d-grid gap-5">
        <!-- Review Modal -->
        {% if request.user.is_authenticated %}
            <button class="btn btn-sml border-2 border-dark rounded-pill blue-black">
                <p class="platinum-text my-auto">Submit a review?<br>
                    <a class="platinum-text text-uppercase text-decoration-none fw-bold"
                    href="#"
                    data-bs-toggle="modal" 
                    data-bs-target="#reviewModal">      
                    Click here!</a>
                </p>           
            {% else %}
                <p class="text-center">Please <a class="link-normal" href="{% url 'account_signup' %}">Register</a> or <a class="link-normal" href="{% url 'account_login' %}">Login</a> to leave a review.</p>
            </button>
        {% endif %}
        <!-- Admin edit/delete actions -->
        {% if request.user.is_superuser %}
            <button class="btn btn-sml border border-3 border-dark rounded-pill mx-auto">
                <a class="cyan-text text-decoration-none" href="{% url 'edit_product' product.id %}">Edit</a> |
                <a class="coral-text text-decoration-none" href="{% url 'delete_product' product.id %}">Delete</a> 
            </button>
        {% endif %}
        </div>
    </div>

    <!-- Product Reviews -->
    <div class="row mt-5" id="reviews-container">
        {% for review in product.reviews.all %}
        <div class="col-sm-12 text-center mt-2">
            <h3 class="logo-font mb-4">Reviews</h3>    
            <hr class="w-25 mx-auto mb-lg-5">
        </div>
        
        <div class="col-sm-8 offset-2">
            <div class="card text-center">
                <div class="card-header blue-black platinum-text">
                    <small class="h5">
                        {{ product.name }} |
                    </small>
                    {% if product.rating %}
                    <small class="platinum-text">
                        <i class="material-icons m-0 cyan-text">star_rate</i>
                        {{ product.rating }} / 5
                    </small>
                    {% else %}
                        <small class="platinum-text">No Rating</small>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Review Title</h5>
                    <p class="card-text blue-black-text mt-4 lh-lg">
                        "{{ review }}"</p>
                </div>
                <div class="card-footer blockquote-footer fs-6 bg-transparent border-top-0 mb-0">
                <small class="fst-italic">{{ review.user.username }}</small> 
                   <p>{{ review.created|date:"SHORT_DATE_FORMAT"}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
{% endblock %}
