<div class="toast custom-toast rounded-3" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header bg-secondary platinum-text">
    <strong class="me-auto text-uppercase">Alert
    </strong>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body blue-black-text">
    <div class="row border-bottom border-4 border-light">
      <div class="col text-capitalize fst-italic mb-2 fw-bold lh-lg">
          {{ message }}
      </div>
    </div>
  </div>
</div>

